
<div class="text-center">

    <form class="form-inline">
        <div class="form-group mb-2">
            <label formarquivo>Selecione o Arquivo CSV</label>
            <input type="file" id="arquivo" name="arquivo" class="form-control-file" required />
        </div>

        <button type="button" class="btn btn-success mb-2" onclick="Enviar()">Enviar</button>
    </form>

</div>
