<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Read Series</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery-1.9.1.js"></script>
        <script src="~/lib/echarts-5.3.0/package/dist/echarts.js"></script>
        <script src="~/Scripts/Home/Index.js"></script>

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Read Series</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

            <div id="grafico" style="width: 100%; height:400px;"></div>

            <div id="resumo" class="d-none">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Serie</th>
                            <th scope="col">Valor Máximo</th>
                            <th scope="col">Valor Mínimo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>50ZI001/COTA-DIF</td>
                            <td id="cota1max"></td>
                            <td id="cota1min"></td>
                        </tr>
                        <tr>
                            <td>50ZI002/COTA-DIF</td>
                            <td id="cota2max"></td>
                            <td id="cota2min"></td>
                        </tr>
                        <tr>
                            <td>50ZI003/COTA-DIF</td>
                            <td id="cota3max"></td>
                            <td id="cota3min"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Read Series
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
